ul(class="recipeCalcs")
  li(class="calcList") OG: {{recipe.og()}}
  li(class="calcList") FG: {{recipe.fg()}}
  li(class="calcList") ABV: {{recipe.abv() + '%'}}
  li(class="calcList") IBUs: {{recipe.hops.ibu()}}
  li(class="calcList") Color(SRM Morey): {{recipe.srm()}}
  li(class="calcList") Diastatic Power: {{recipe.dp()}}
  
md-tabs(class="md-raised md-primary" md-dynamic-height md-border-bottom)
  md-tab(label="Recipe Config")
    md-content(layoutpadding layout="column" layout-sm="column")
      md-input-container(class="configInput")
        label(for="volume") Volume(gal)
        input(type="number" ng-model="recipe.volume" name="volume" id="volume")
      md-input-container(class="configInput")
        label(for="efficiency") Custom Efficiency
        input(type="number" ng-model="recipe.efficiency" name="efficiency" id="efficiency")
      md-input-container(class="configInput")
        label(for="attenuation") Custom Attenuation
        input(type="number" ng-model="recipe.attenuation" name="attenuation" id="attenuation")
  md-tab(label="Grains")
    .box.grains
      md-button(ng-click="recipe.grains.efficiencyPPG()")
      md-content(layout-padding layout="row" layout-sm="column")
        md-input-container(class="ingredient")
          label(for='grains') Grains
          md-select(name='grains' id='grains' ng-model='grain' required)
            md-option(ng-repeat='grain in grains | orderBy: "name"' ng-value="{{grain}}") {{grain.name}}
        md-input-container
          label(for='grainsWt') Weight(lbs.)
          input(type="number" ng-model="grain.grainWt" name="grainsWt" id="grainsWt")
        md-button(class='md-raised md-primary' ng-click='addIngredient("grains", "grain")' aria-label='Add Grains' ng-disabled='!grain || !grain.grainWt') Add Grains
      h2 {{grain.name}}
      ul(class="grainList" ng-show="grain.name")
        li Flavor: {{grain.flavor}}
        li PPG: {{grain.PPG}}
        li Lovi: {{grain.lovi}}
      table(ng-show="recipe.grains.added.length > 0" class="ingredientTable")
        tr
          th Name
          th Flavor
          th Amount(lbs)
          th PPG
          th Lovi
          th
        tr(ng-show="recipe.grains.added" ng-repeat="recipegrain in recipe.grains.added track by $index")
          th {{recipegrain.name}}
          th {{recipegrain.flavor}}
          th
            md-input-container
              label(for="grainWtChng")
              input(type="number" class="grainWtChngIn" name="grainWtChng" id="grainWtChng" ng-model='recipegrain.grainWt' ng-value="{{addedGrain.grainWt}}" aria-label="weight")
          th {{recipegrain.PPG}}
          th {{recipegrain.lovi}}
          th 
            md-button(class="md-raised md-warn" ng-click="deleteItem($index, 'grains')") Remove
        tr
          th Totals
          th
          th {{recipe.grains.totalWeight()}} 
          th {{1 + recipe.grains.totalPPG()}}
          th 
          th
  md-tab(label="Hops")   
    .box.hops
      md-content(layout-padding layout="row" layout-sm="column")
        md-input-container(class="ingredient")
          label(for='hops') Hops
          md-select(name='hops' id='hops' ng-model='hop' required)
            md-option(ng-repeat='hop in hops' ng-value='{{hop}}') {{hop.Name}}  
        md-input-container
          label(for='hopsWt') Weight(oz)
          input(ng-model="hop.hopWt" name="hopsWt" id="hopsWt")
        md-input-container
          label(for='hopType') type
          md-select(ng-model='hop.hopType' name='hopType' id='hopType' required)
            md-option(value="boil") Boil
            md-option(value="whirlpool") Whirlpool
            md-option(value="dryhop") Dry Hop
        md-button(class='md-raised md-primary' ng-click='addIngredient("hops", "hop")' aria-label='Add Hops' ng-disabled="!hop || !hop.hopWt") Add Hops
        h2 {{hop.Name}}
        ul(class="hopList")
          li(ng-show="hop") AA%: {{hop.Alpha_Acid}}
          li(ng-show="hop") Notes: {{hop.Notes}}
          li(ng-show="hop") Origin: {{hop.Origin}}
          //- li {{grain.PPG}}  
      table(ng-show="recipe.hops.added.length > 0" class="ingredientTable")
        tr
          th Name
          th Alpha Acid
          th Beta Acid
          th Weight(oz)
          th IBUs
          th Utilization
          th
        tr(ng-repeat="hop in recipe.hops.added track by $index")
          th {{hop.Name}}
          th {{hop.Alpha_Acid}}
          th {{hop.Beta_Acid}}
          th {{hop.hopWt + ' Ounces'}}
          th {{hop.ibu}}
          th {{hop.hopType}}
          th
            md-button(class="md-raised md-warn" ng-show="hop" ng-click="deleteItem($index, 'hops')") Remove 
    
      
  md-tab(label="Yeast")    
    .box.yeasts
      md-content(layout-padding layout="row" layout-sm="column")
        md-input-container(class="ingredient")
          label(for='yeast') Yeast
          md-select(name='yeast' id='yeast' ng-model='yeast' required)
            md-option(ng-repeat='yeast in yeasts' ng-value='{{yeast}}') {{yeast.ID + ' ' + yeast.Name}}
      .yeast(ng-show='yeast')
        h2(ng-show="yeast.ID") {{yeast.ID + ' ' + yeast.Name}}
        p(ng-show="yeast.Character") Character: {{yeast.Character}}
        p(ng-show="yeast.Flocculation") Flocculation: {{yeast.Flocculation}}
        p(ng-show="yeast.Attenuation") Avg Attenuation: {{yeast.Attenuation[1] + yeast.Attenuation[2] + '-' + yeast.Attenuation[4] + yeast.Attenuation[5] + "%"}} 
        p(ng-show="yeast.Temp_Range") Preferred Temp Range: {{yeast.Temp_Range[1] + yeast.Temp_Range[2] + '-' + yeast.Temp_Range[4] + yeast.Temp_Range[5] + " degrees F"}}
  
  md-tab(label="Notes")
    .notes
      md-content
        md-input-container
          label(for="notes")
          textarea(rows="5" cols="8" name="notes" id="notes" ng-model="notes")
